.outer-container, .main-container {
  height: 100%;
  background-color: white;
}

.row-preview {
  border: 1px solid #cccccc;
  padding: 8px;
}


.row-layout {
  border: 1px dotted #cccccc;
  padding: 8px;
  margin: 8px;
}

.element-layout {
  border: 1px dashed #000000;
  padding: 8px;
}
