<div class="outer-container">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span fxFlex>Angular Material Form Designer</span>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>dialpad</mat-icon>
      <span>Redial</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>voicemail</mat-icon>
      <span>Check voicemail</span>
    </button>
    <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      <span>Disable alerts</span>
    </button>
  </mat-menu>

  <mat-sidenav-container class="main-container">
    <mat-sidenav #sidenav opened mode="side" style="width: 150px">

      <mat-toolbar>
        <span>Components</span>
      </mat-toolbar>


      <mat-expansion-panel expanded="true" hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Containers
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div fxLayout="column">
          <button mat-button (click)="addRow(cont)" *ngFor="let cont of editorService.containers">{{cont.description}}</button>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel expanded="true" hideToggle="true" *ngIf="selectedRow">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Components
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div fxLayout="column">
          <button mat-button (click)="addComponent(component)" *ngFor="let component of editorService.components">
            {{component.type}}
          </button>
        </div>
      </mat-expansion-panel>

    </mat-sidenav>
    <mat-sidenav #endnav opened mode="side" position="end">
      <mat-toolbar>
        <span>Properties</span>
      </mat-toolbar>

      <mat-expansion-panel expanded="true" hideToggle="true" *ngIf="selectedRow">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Row: {{selectedRow.type}}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div>
          <!--<pre>{{selectedRow | json}}</pre>-->
          <td-dynamic-forms #selectedRowProperties [elements]="selectedRow.configProperties">
            <ng-template let-element ngFor [ngForOf]="selectedRow.configProperties">
              <ng-template let-control="control" [tdDynamicFormsError]="element.name">
                <span *ngIf="control.touched || !control.pristine">
                  <span *ngIf="control.hasError('required')">Required</span>
                  <span *ngIf="control.hasError('min')">Min value: {{element.min}}</span>
                  <span *ngIf="control.hasError('max')">Max value: {{element.max}}</span>
                  <span *ngIf="control.hasError('minlength')">Min length value: {{element.minLength}}</span>
                  <span *ngIf="control.hasError('maxlength')">Max length value: {{element.minLength}}</span>
                </span>
              </ng-template>
            </ng-template>
          </td-dynamic-forms>
          <button mat-raised-button color="primary" (click)="saveRowProperties(selectedRowProperties.value)">Save</button>
        </div>
      </mat-expansion-panel>


      <mat-expansion-panel expanded="true" hideToggle="true" *ngIf="selectedComponent">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Component: {{selectedComponent.type}}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div>
          <!--<pre>{{selectedComponent | json}}</pre>-->
          <td-dynamic-forms #selectedComponentProperties [elements]="selectedComponent.configProperties">
            <ng-template let-element ngFor [ngForOf]="selectedComponent.configProperties">
              <ng-template let-control="control" [tdDynamicFormsError]="element.name">
                <span *ngIf="control.touched || !control.pristine">
                  <span *ngIf="control.hasError('required')">Required</span>
                  <span *ngIf="control.hasError('min')">Min value: {{element.min}}</span>
                  <span *ngIf="control.hasError('max')">Max value: {{element.max}}</span>
                  <span *ngIf="control.hasError('minlength')">Min length value: {{element.minLength}}</span>
                  <span *ngIf="control.hasError('maxlength')">Max length value: {{element.minLength}}</span>
                </span>
              </ng-template>
            </ng-template>
          </td-dynamic-forms>
          <button mat-raised-button color="primary" (click)="saveComponentProperties(selectedComponentProperties.value)">Save</button>

        </div>
      </mat-expansion-panel>

    </mat-sidenav>


    <mat-sidenav-content>
      <mat-toolbar>
        <button mat-icon-button matTooltip="Close left panel" (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span fxFlex>Form layout</span>
        <button mat-icon-button matTooltip="Clear select" (click)="deselectComponent()">
          <mat-icon>border_clear</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Close right panel" (click)="endnav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </mat-toolbar>

      <mat-tab-group>
        <mat-tab label="Layout">

          <div class="row-layout" [ngClass]="{'selected': row == selectedRow}"
               [fxLayout]="row.fxLayout" [fxLayoutAlign]="row.fxLayoutAlign" [fxLayoutGap]="row.fxLayoutGap"
               *ngFor="let row of formLayout">

            <div class="element-layout" [ngClass]="{'selected': element == selectedComponent}" [fxFlex]="element.flex" *ngFor="let element of row.components" (click)="selectComponent(element, row)">
              {{element.name}} ({{element.text}})
            </div>
          </div>

        </mat-tab>
        <mat-tab label="Preview">

          <div [fxLayout]="row.fxLayout" [fxLayoutAlign]="row.fxLayoutAlign" [fxLayoutGap]="row.fxLayoutGap"
               *ngFor="let row of formLayout">

            <ng-container [ngSwitch]="element.type" *ngFor="let element of row.components">
              <mat-form-field [fxFlex]="element.flex" fxFlexFill *ngSwitchCase="'input'"><input matInput placeholder="{{element.text}}"></mat-form-field>
              <mat-form-field [fxFlex]="element.flex" fxFlexFill *ngSwitchCase="'textarea'"><textarea matInput placeholder="{{element.text}}"></textarea></mat-form-field>
              <mat-select [fxFlex]="element.flex" fxFlexFill *ngSwitchCase="'select'" placeholder="{{element.text}}">
                <mat-option>One</mat-option>
                <mat-option>Two</mat-option>
                <mat-option>Three</mat-option>
              </mat-select>
              <button *ngSwitchCase="'button'" [fxFlex]="element.flex" mat-raised-button color='primary' >{{element.text}}</button>
              <div *ngSwitchDefault>(element)</div>
            </ng-container>

          </div>

        </mat-tab>
        <mat-tab label="Code">
          <mat-tab-group>
            <mat-tab label="JSON descriptor">
              <td-highlight lang="json" [content]="formLayout | json"></td-highlight>
            </mat-tab>
            <mat-tab label="Ts">
              <td-highlight lang="typescript" [content]="converterService.convertedTsCode"></td-highlight>
            </mat-tab>
            <mat-tab label="HTML">
              <td-highlight lang="html" [content]="converterService.convertedHtmlCode"></td-highlight>
            </mat-tab>
          </mat-tab-group>
        </mat-tab>
      </mat-tab-group>

    </mat-sidenav-content>

  </mat-sidenav-container>
</div>

