<ng-container [ngSwitch]="element.type">
  <mat-form-field [fxFlex]="element.flex" *ngSwitchCase="'input'"><input matInput placeholder="{{element.text}}"></mat-form-field>
  <mat-form-field fxFlex *ngSwitchCase="'textarea'"><textarea matInput placeholder="{{element.text}}"></textarea></mat-form-field>
  <mat-select fxFlex *ngSwitchCase="'select'" placeholder="{{element.text}}"></mat-select>
  <button *ngSwitchCase="'button'" fxFlex mat-raised-button color='primary' >{{element.text}}</button>
  <div *ngSwitchDefault>(element)</div>
</ng-container>

